<footer>

	<p class="Helvetica">Hadi Rickit</p>

	<div class="social-icons">
		
		<a href="https://www.instagram.com/Ditmens" target="_blank">
			<i class="fa fa-instagram"></i>
		</a>
		<a href="https://github.com/rickithadi" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://linkedin.com/in/hadi-rickit" target="_blank">
			<i class="fa fa-linkedin-square"></i>
		</a>
		
	</div>

</footer>

</body>
</html>