<% include layouts/header %>

	<div id="main-container">
		<br></br>


		<div id="mb-container">
	<img src="/images/avatar2.jpg"  width="350" height="450" alt="Avatar">
			<div class="mb-container">
			

				<br></br>

				<div class="row align-items-start">
					<div class="col">
						<a href="/about" class="btn">about me</a>
						<a href="/contact" class="btn">contact</a>
					</div>
					<div class="col">
						<a href="/stuff" class="btn">stuff</a>
						<a href="/blog" class="btn">blog</a>
					</div>

				</div>

			</div>
		</div>
		<!-- /. main container -->
	</div>
		<% include layouts/footer %>