<% include layouts/header %>

	<div id="home-container">
		<br></br>






		<div id="mb-container">

			<div class="mb-container">

				<img src="/images/avatar2.jpg" width="100" height="150" alt="Avatar">
				<div id="text-container">
				<br></br>
				<br></br>
				i build websites and stuff

				</div>
				

				


			</div>
		</div>
	</div>
		<!-- /. main container -->

		<% include layouts/footer %>