<% include layouts/header %>

<div id="main-container">

	
	<div id="mb-container">

		
		<main>
			<div class="jumbotron">
				<font color="red">This is great</font>
				<p>Welcome to templating using EJS</p>
			</div>
		</main>
		
		
	<div class="social-icons">
		
		<a href="https://www.instagram.com/Ditmens" target="_blank">
			<i class="fa fa-instagram"></i>
		</a>
		<a href="https://github.com/rickithadi" target="_blank">
			<i class="fa fa-github-square"></i>
		</a>
		<a href="https://linkedin.com/in/hadi-rickit" target="_blank">
			<i class="fa fa-linkedin-square"></i>
		</a>
		
	</div>
	</div>
		
</div> <!-- /. main container -->

<% include layouts/footer %>