<% include layouts/header %>

	<div id="home-container">
		<br></br>






		<div id="mb-container">
			<div class="mb-container">


				<img src="/images/avatar2.jpg" width="150" height="200" alt="Avatar">

				<div id="text-container">
					sgewqg
				</div>
				
				<br></br>

				<!-- <div class="col">

					<a href="/about" class="btn">about me</a>
					<a href="/contact" class="btn">contact</a>
				</div>
				<div class="col">
					<a href="/stuff" class="btn">stuff</a>
					<a href="/blog" class="btn">blog</a>
				</div> -->
				<!-- <textarea>boobiess</textarea> -->


			</div>
		</div>
	</div>
		<!-- /. main container -->

		<% include layouts/footer %>