<% include layouts/header %>

	<div id="main-container">


		<div id="mb-container">

			<div class="mb-container">
				<img src="/images/idol.jpg" alt="Avatar">

				<br></br>

				<div class="row align-items-start">
					<div class="col">
						<a href="/about" class="btn">about me</a>
						<a href="/contact" class="btn">contact</a>
					</div>
					<div class="col">
						<a href="/stuff" class="btn">stuff</a>
						<a href="/blog" class="btn">blog</a>
					</div>

				</div>

			</div>
		</div>
		<!-- /. main container -->
	</div>
		<% include layouts/footer %>