<% include layouts/header %>

<div id="main-container">

	
	<div id="mb-container">

		
		<main>
			<div class="jumbotron">
			
              i'll put some of my work up here eventually
              
			</div>
		</main>
		
		
	
	</div>
		
</div> <!-- /. main container -->

<% include layouts/footer %>